body {
    color: white;
    background: rgb(8, 7, 19);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(79, 89, 155);
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(39, 17, 210);
}

.chamada {
    background-image: url(images/bg\ aranha.jpg);
    border-bottom: solid 2px rgb(163, 65, 65);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    color: rgb(180, 216, 250)
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(180, 216, 250);
}

.categoria h2 {
    color: rgb(180, 216, 250);
}
